.body-bg {}

.nav-logo {
    padding-right: 20px;
    fill: darkorchid;
    stroke: darkorchid;
    color: darkorchid !important;
}

.active-nav {
    color: darkorchid !important;
}

footer {
    background-color: rgb(248, 249, 250);
    min-width: 100vw;
    padding: 20px;
    display: flex;
}


.footer-div {
    margin: auto;
}

.action-plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 100vh;
}

.action-plan>footer {
    align-self: flex-end;
}

.contact-list {
    list-style-type: none !important;
}

.list-columns {
    display: flex;
    margin: auto;
}

.list-column {
    margin: auto;
}


.about-container {
    display: inline-grid;
    margin: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.history-container {
    grid-column-start: 1;
}

.stats-container {
    grid-column-start: 1;
}

.stats-title {
    margin: 20px;
}

.info-graph-col {
    display: flex;
}

.info-graph-col>a {
    margin: auto;
}

.info-graph-col>a>img {
    max-width: 1000px;
    margin: auto;
}

.resources-container {
    margin: 40px 100px 40px 100px;
}

.index-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 15%;
    margin-right: 15%;
}

.index-container>img {
    max-height: 75vh;
    margin: auto;

}

.index-container>h1 {
    margin: auto;
}

.index-container>p {
    text-align: center;
    margin: auto;
    font-size: 24px;
    font-style: italic;
}