.nav-logo {
    padding-right: 20px;
    fill: darkorchid;
    stroke: darkorchid;
    color: darkorchid !important;
}

.active-nav {
    color: darkorchid !important;
}

footer{
    background-color: ;
}